#components-reconnect-modal {
    display: none;
}

#components-reconnect-modal.components-reconnect-show,
#components-reconnect-modal.components-reconnect-failed,
#components-reconnect-modal.components-reconnect-rejected {
    display: flex;
}

#components-reconnect-modal.components-reconnect-show #components-reconnect-show {
    display: block;
}

#components-reconnect-modal.components-reconnect-failed #components-reconnect-failed {
    display: block;
}

#components-reconnect-modal.components-reconnect-rejected #components-reconnect-rejected {
    display: block;
}
