@namespace CatalystUI.Components
@inherits CatalystComponentBase

<nav class="@CombineClasses("flex", "flex-1", "items-center", "gap-4", "py-2.5")" @attributes="GetAttributes()">
    @ChildContent
</nav>