@namespace CatalystUI.Components
@inherits CatalystComponentBase

<div aria-hidden="true" class="@CombineClasses("h-6", "w-px", "bg-zinc-950/10", "dark:bg-white/10")" @attributes="GetAttributes()"></div>
