@namespace CatalystUI.Components
@inherits CatalystComponentBase

<h3 class="@CombineClasses("mb-1", "px-2", "text-xs/6", "font-medium", "text-zinc-500", "dark:text-zinc-400")" @attributes="GetAttributes()">
    @ChildContent
</h3>