@namespace CatalystUI.Components
@inherits CatalystComponentBase

<div data-slot="description" class="@CombineClasses("col-span-2", "col-start-2", "row-start-2", "text-sm/5", "text-zinc-500", "group-hover:text-white", "group-focus:text-white", "sm:text-xs/5", "dark:text-zinc-400", "forced-colors:group-hover:text-[HighlightText]", "forced-colors:group-focus:text-[HighlightText]")" @attributes="GetAttributes()">
    @ChildContent
</div>