@namespace CatalystUI.Components
@inherits CatalystComponentBase

<div class="@CombineClasses("col-span-5", "px-3.5", "pt-2.5", "pb-1", "sm:px-3")" @attributes="GetAttributes()">
    @ChildContent
</div>