@namespace Radixor.Components.Overlays
@inherits ComponentBase

@if (AsChild)
{
    @ChildContent
}
else
{
    <button @onclick="HandleClick" class="rt-AlertDialogCancel">
        @ChildContent
    </button>
}