@namespace Radixor.Components.Overlays
@inherits Radixor.Components.Base.SpacingComponentBase
@implements IDisposable

@if (PopoverRoot?.IsOpen == true)
{
    @if (PopoverRoot.Modal)
    {
        <div class="rt-PopoverOverlay" @onclick="HandleOverlayClick"></div>
    }
    <div class="@ContentCssClass" @attributes="GetAllAttributes()" @onkeydown="HandleKeyDown" style="@GetPositionStyle()">
        <div class="rt-PopoverArrow"></div>
        @ChildContent
    </div>
}