@namespace Radixor.Components.Overlays
@inherits ComponentBase

@if (TooltipRoot?.IsOpen == true)
{
    <div class="@ContentCssClass" style="@GetPositionStyle()" role="tooltip">
        <div class="rt-TooltipArrow"></div>
        @ChildContent
    </div>
}