@namespace ShadBz.BlazorApp.Components.UI
@inherits ShadBz.BlazorApp.Components.UI.Base.SpacingComponentBase

<p class="rt-AlertDialogDescription" @attributes="GetAllAttributes()">
    @ChildContent
</p>