@namespace ShadBz.BlazorApp.Components.UI
@inherits ShadBz.BlazorApp.Components.UI.Base.SpacingComponentBase

<div class="@CalloutCssClass" style="@GetStyle()" @attributes="AdditionalAttributes">
    @if (Icon != null)
    {
        <div class="rt-CalloutIcon">
            @Icon
        </div>
    }
    <div class="rt-CalloutContent">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public new RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Icon { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public new Dictionary<string, object>? AdditionalAttributes { get; set; }
    
    private string CalloutCssClass => new CssBuilder("rt-Callout")
        .AddClass($"rt-r-size-{((int)Size) + 1}")
        .AddClass($"rt-variant-{Variant.ToString().ToLower()}")
        .AddClass($"rt-color-{Color?.ToLower() ?? "gray"}")
        .AddClass("rt-high-contrast", HighContrast)
        .AddClass(GetMarginClasses())
        .AddClass(Class)
        .Build();
    
    private string GetStyle()
    {
        return "";
    }
}