@namespace ShadBz.BlazorApp.Components.UI
@inherits ShadBz.BlazorApp.Components.UI.Base.SpacingComponentBase
@implements IDisposable

@if (ContextMenuRoot?.IsOpen == true)
{
    @if (ContextMenuRoot.Modal)
    {
        <div class="rt-ContextMenuOverlay" @onclick="HandleOverlayClick"></div>
    }
    <div class="@ContentCssClass" @attributes="GetAllAttributes()" @onkeydown="HandleKeyDown" style="@GetPositionStyle()" tabindex="-1">
        @ChildContent
    </div>
}