@namespace ShadBz.BlazorApp.Components.UI
@inherits ComponentBase

@if (AsChild)
{
    @ChildContent
}
else
{
    <button @onclick="HandleClick" class="rt-DialogClose">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            <span>✕</span>
        }
    </button>
}