@namespace ShadBz.BlazorApp.Components.UI
@inherits ShadBz.BlazorApp.Components.UI.Base.SpacingComponentBase

<div @attributes="GetProgressAttributes()">
    <div class="rt-ProgressIndicator" style="@GetIndicatorStyle()"></div>
</div>