@namespace ShadBz.BlazorApp.Components.UI
@inherits ShadBz.BlazorApp.Components.UI.Base.SpacingComponentBase

<button type="button" 
        role="radio" 
        @attributes="GetRadioAttributes()"
        @onclick="HandleClick"
        disabled="@Disabled"
        aria-checked="@IsChecked.ToString().ToLower()">
    <span class="rt-BaseRadioIndicator rt-RadioIndicator">
        @if (IsChecked)
        {
            <span class="rt-RadioIndicatorDot"></span>
        }
    </span>
</button>