@namespace ShadBz.BlazorApp.Components.UI

<span class="@CssClass" @attributes="AdditionalAttributes">
    <span class="rt-SpinnerLeaf">
        <span class="rt-SpinnerLeafFill" />
    </span>
    <span class="rt-SpinnerLeaf">
        <span class="rt-SpinnerLeafFill" />
    </span>
    <span class="rt-SpinnerLeaf">
        <span class="rt-SpinnerLeafFill" />
    </span>
    <span class="rt-SpinnerLeaf">
        <span class="rt-SpinnerLeafFill" />
    </span>
    <span class="rt-SpinnerLeaf">
        <span class="rt-SpinnerLeafFill" />
    </span>
    <span class="rt-SpinnerLeaf">
        <span class="rt-SpinnerLeafFill" />
    </span>
    <span class="rt-SpinnerLeaf">
        <span class="rt-SpinnerLeafFill" />
    </span>
    <span class="rt-SpinnerLeaf">
        <span class="rt-SpinnerLeafFill" />
    </span>
</span>

@code {
    [Parameter] public string? Size { get; set; } = "2";
    [Parameter] public bool Loading { get; set; } = true;
    [Parameter] public string? Class { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
    
    private string CssClass => new CssBuilder("rt-Spinner")
        .AddClass($"rt-r-size-{Size}")
        .AddClass(Class)
        .Build();
}