@namespace ShadBz.BlazorApp.Components.UI
@inherits ComponentBase

<span @ref="_triggerRef" 
      @onmouseenter="HandleMouseEnter" 
      @onmouseleave="HandleMouseLeave"
      @onfocus="HandleFocus"
      @onblur="HandleBlur"
      style="display: contents;">
    @ChildContent
</span>