@namespace Radixor.Components.Overlays
@inherits Radixor.Components.Base.SpacingComponentBase
@implements IDisposable

@if (AlertDialogRoot?.IsOpen == true)
{
    <div class="rt-BaseDialogOverlay rt-AlertDialogOverlay" @onclick="HandleOverlayClick" @onclick:stopPropagation="true"></div>
    <div class="@ContentCssClass" @attributes="GetAllAttributes()" @onkeydown="HandleKeyDown">
        @ChildContent
    </div>
}