@namespace Radixor.Components.Overlays
@inherits Radixor.Components.Base.SpacingComponentBase
@implements IDisposable

@if (DialogRoot?.IsOpen == true)
{
    <div class="rt-BaseDialogScroll rt-DialogScroll">
        <!-- Overlay -->
        <div class="@OverlayCssClass" @onclick="HandleOverlayClick"></div>
        
        <!-- Scroll Padding -->
        <div class="rt-BaseDialogScrollPadding rt-DialogScrollPadding">
            <!-- Content -->
            <div @attributes="GetContentAttributes()" @onkeydown="HandleEscapeKey" tabindex="-1">
                @ChildContent
            </div>
        </div>
    </div>
}