@namespace Radixor.Components.Overlays
@inherits ComponentBase

<span @ref="_triggerRef" @onclick="HandleClick" @oncontextmenu="HandleContextMenu" @oncontextmenu:preventDefault="true" style="display: contents;">
    @ChildContent
</span>