@namespace Radixor.Components.Feedback
@inherits Radixor.Components.Base.SpacingComponentBase

<div @attributes="GetProgressAttributes()">
    <div class="rt-ProgressIndicator" style="@GetIndicatorStyle()"></div>
</div>