@namespace Radixor.Components.Feedback
@inherits Radixor.Components.Base.SpacingComponentBase

@if (Loading)
{
    @if (ChildContent != null)
    {
        <span style="position: relative; display: inline-flex;">
            <span style="opacity: 0.5; pointer-events: none;" aria-hidden="true">
                @ChildContent
            </span>
            <span @attributes="GetSpinnerAttributes()" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                @RenderSpinnerLeaves()
            </span>
        </span>
    }
    else
    {
        <span @attributes="GetSpinnerAttributes()">
            @RenderSpinnerLeaves()
        </span>
    }
}
else
{
    @ChildContent
}

@code {
    private RenderFragment RenderSpinnerLeaves() => builder =>
    {
        for (int i = 0; i < 8; i++)
        {
            builder.OpenElement(0, "span");
            builder.AddAttribute(1, "class", "rt-SpinnerLeaf");
            builder.OpenElement(2, "span");
            builder.AddAttribute(3, "class", "rt-SpinnerLeafFill");
            builder.CloseElement();
            builder.CloseElement();
        }
    };
}