@namespace CatalystUI.Components
@inherits CatalystComponentBase

<h2 class="@CombineClasses("text-lg/6", "font-semibold", "text-balance", "text-zinc-950", "sm:text-base/6", "dark:text-white")" @attributes="GetAttributes()">
    @ChildContent
</h2>