@namespace CatalystUI.Components
@inherits CatalystComponentBase
@implements IDisposable

<div class="relative" @ref="dropdownElement">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>