@namespace CatalystUI.Components
@inherits CatalystComponentBase

<div class="@CombineClasses("col-span-full", "supports-[grid-template-columns:subgrid]:grid", "supports-[grid-template-columns:subgrid]:grid-cols-[auto_1fr_1.5rem_0.5rem_auto]")" @attributes="GetAttributes()">
    @ChildContent
</div>