@namespace CatalystUI.Components
@inherits CatalystComponentBase

<nav aria-label="@AriaLabel" class="@CombineClasses("catalyst-pagination", "flex", "gap-x-2")" @attributes="GetAttributes()">
    @ChildContent
</nav>