@namespace Radixor.Components.Navigation
@inherits ComponentBase
@typeparam TValue

<CascadingValue Value="this" IsFixed="true">
    <div class="@RootCssClass" data-orientation="@Orientation.ToString().ToLower()">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    
    private string RootCssClass => new CssBuilder("rt-TabsRoot")
        .AddClass($"rt-variant-{Variant.ToString().ToLower()}")
        .Build();
}