@namespace Radixor.Components.Navigation
@inherits ComponentBase
@typeparam TValue
@implements IDisposable

<div class="@ListCssClass" 
     role="tablist" 
     aria-orientation="@TabsRoot?.Orientation.ToString().ToLower()">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    
    private string ListCssClass => new CssBuilder("rt-TabsList")
        .AddClass("rt-r-size-2")
        .Build();
}