@using Microsoft.AspNetCore.Components.Rendering
@inherits TestContext
@code {

    [Fact]
    public void TransitionComponent_RendersEmptyDiv_WhenNoParametersAreProvided()
    {
        // Arrange & Act
        var cut = RenderComponent<TwTransition>(parameters => parameters
            .Add(p => p.Show, true)
        );

        // Assert
        cut.MarkupMatches("<div></div>");
    }

    [Fact]
    public void TransitionComponent_Should_RenderContentWhenShowIsTrue()
    {
        // Arrange
        const bool show = true;
        const string content = "Test content";
        
        // Act
        var cut = RenderComponent<TwTransition>(parameters => parameters
            .Add(p => p.Show, show)
            .AddChildContent(content)
        );

        // Assert
        cut.MarkupMatches($"<div>{content}</div>");
    }
    
    [Fact]
    public void TransitionComponent_Should_RenderNothingWhenShowIsFalse()
    {
        // Arrange
        const bool show = false;
        const string content = "Test content";
        
        // Act
        var cut = RenderComponent<TwTransition>(parameters => parameters
            .Add(p => p.Show, show)
            .AddChildContent(content)
        );

        // Assert
        cut.MarkupMatches("");
    }

    [Fact]
    public void TransitionComponent_Should_ApplyCorrectCssClass()
    {
        // Arrange & Act
        var cut = RenderComponent<TwTransition>(parameters => parameters
            .Add(p => p.Show, true)
            .Add(p => p.Enter, "enter-class")
            .Add(p => p.EnterFrom, "enter-from-class")
        );

        // Assert
        cut.MarkupMatches("<div class=\"enter-class enter-from-class\"></div>");
    }
    
    [Fact]
    public void TransitionComponent_Should_InitializeWithCorrectState()
    {
        // Arrange & Act
        var cut = RenderComponent<TwTransition>(parameters => parameters
            .Add(p => p.Appear, true)
            .Add(p => p.Show, true)
            .Add(p => p.Enter, "transition-opacity duration-75")
            .Add(p => p.EnterFrom, "opacity-0")
            .Add(p => p.EnterTo, "opacity-100")
            .Add(p => p.Leave, "transition-opacity duration-150")
            .Add(p => p.LeaveFrom, "opacity-100")
            .Add(p => p.LeaveTo, "opacity-0")
        );
        
        // Assert
        cut.MarkupMatches("<div class=\"transition-opacity duration-75 opacity-0\"></div>");
    }

    [Fact]
    public void TransitionComponent_Should_RenderAsSpecifiedElement()
    {
        // Arrange
        const bool show = true;
        const string asElement = "span";
        const string content = "Test content";

        // Act
        var cut = RenderComponent<TwTransition>(parameters => parameters
            .Add(p => p.Show, show)
            .Add(p => p.As, asElement)
            .AddChildContent(content)
        );

        // Assert
        cut.MarkupMatches($"<{asElement}>{content}</{asElement}>");
    }
    
    [Fact]
    public void TransitionComponent_Should_RenderAdditionalAttributes()
    {
        // Arrange
        const bool show = true;
        var additionalAttributes = new Dictionary<string, object>
        {
            { "data-test", "test-value" },
            { "aria-label", "test-label" }
        };

        // Act
        var cut = RenderComponent<TwTransition>(parameters => parameters
            .Add(p => p.Show, show)
            .Add(p => p.AdditionalAttributes, additionalAttributes)
        );

        // Assert
        var div = cut.Find("div");
        div.GetAttribute("data-test").Should().Be("test-value");
        div.GetAttribute("aria-label").Should().Be("test-label");
    }
    
    [Fact]
    public void TransitionComponent_Should_PassthroughHtmlAttributes()
    {
        // Arrange
        const bool show = true;
        
        // Act
        var cut = RenderComponent<TwTransition>(parameters => parameters
            .Add(p => p.Show, show)
            .AddUnmatched("data-test", "test-value")
            .AddUnmatched("aria-label", "test-label")
        );

        // Assert
        var div = cut.Find("div");
        div.GetAttribute("data-test").Should().Be("test-value");
        div.GetAttribute("aria-label").Should().Be("test-label");
    }
    
    [Fact]
    public void TransitionComponent_Should_ApplyEnterClasses_WhenAppearIsTrue()
    {
        // Arrange & Act
        var cut = RenderComponent<TwTransition>(parameters => parameters
            .Add(p => p.Appear, true)
            .Add(p => p.Show, true)
            .Add(p => p.Enter, "enter")
            .Add(p => p.EnterFrom, "enter-from")
        );

        // Assert
        cut.MarkupMatches("<div class=\"enter enter-from\"></div>");
    }

    [Fact]
    public async Task TransitionComponent_Should_CompleteTransitionInSpecifiedDuration()
    {
        // Arrange & Act
        const int enterDuration = 50;

        var wrapper = RenderComponent<StyleComponent>(wrapperParameters => wrapperParameters
            .Add(p => p.EnterDuration, enterDuration)
            .AddChildContent<TwTransition>(parameters => parameters
                .Add(p => p.Show, false)
                .Add(p => p.Enter, "enter")
                .Add(p => p.EnterFrom, "from")
                .Add(p => p.EnterTo, "to")
                .AddChildContent("<span>Hello!</span>")
            )
        );

        var cut = wrapper.FindComponent<TwTransition>();
        await Task.Delay(10); // Add 10ms to ensure the transition is complete

        // Assert
        cut.MarkupMatches("");
        
        // Simulate a state change by setting Show to true
        cut.SetParametersAndRender(parameters => parameters
            .Add(p => p.Show, true)
        );
        
        cut.MarkupMatches("<div class=\"enter from\"><span>Hello!</span></div>");
        // cut.MarkupMatches("<div class=\"enter to\"><span>Hello!</span></div>");
        
        // Wait for the specified duration
        await Task.Delay(enterDuration + 10); // Add 10ms to ensure the transition is complete

        // Check if the transition happened correctly
        cut.MarkupMatches("<div class=\"to\"><span>Hello!</span></div>");
    }
    
    private class StyleComponent : ComponentBase
    {
        [Parameter] public int EnterDuration { get; set; }
        [Parameter] public RenderFragment? ChildContent { get; set; }

        protected override void BuildRenderTree(RenderTreeBuilder builder)
        {
            builder.OpenElement(0, "style");
            builder.AddContent(1, $".enter {{ transition-duration: {EnterDuration}ms; }} .from {{ opacity: 0%; }} .to {{ opacity: 100%; }}");
            builder.CloseElement();
            builder.AddContent(2, ChildContent);
        }
    }
    
}
