@namespace CatalystUI.Components
@inherits CatalystComponentBase

<span class="@CombineClasses("hidden", "items-baseline", "gap-x-2", "sm:flex")" @attributes="GetAttributes()">
    @ChildContent
</span>