@page "/register"
@layout CatalystUI.Demo.Layout.AuthLayout

<PageTitle>Register - CatalystUI</PageTitle>

<form action="" method="POST" class="grid w-full max-w-sm grid-cols-1 gap-8">
    <div class="h-6 text-zinc-950 dark:text-white forced-colors:text-[CanvasText]">
        <svg viewBox="0 0 480 120" class="h-full">
            <path fill="currentColor" d="M55.226 91.39c7.34 0 13.365-2.413 18.077-7.241 4.811-4.928 7.217-11.218 7.217-18.87V55.11c0-7.753-2.406-14.067-7.217-18.944-4.712-4.976-10.738-7.464-18.077-7.464-7.241 0-13.241 2.463-18.002 7.39-4.761 4.828-7.142 11.166-7.142 19.018v10.169c0 7.752 2.38 14.042 7.142 18.87 4.76 4.828 10.76 7.24 18.002 7.24Zm0-10.614c-3.447 0-6.159-1.207-8.135-3.621-1.877-2.512-2.816-5.752-2.816-9.72V54.043c0-3.968.94-7.183 2.816-9.646 1.976-2.463 4.688-3.695 8.135-3.695 3.547 0 6.258 1.232 8.135 3.695 1.976 2.463 2.965 5.678 2.965 9.646v13.413c0 3.968-.989 7.208-2.965 9.72-1.877 2.414-4.588 3.62-8.135 3.62Zm54.533 10.614c3.348 0 6.407-.594 9.175-1.783 2.768-1.288 5.07-3.002 6.91-5.145l-4.564-7.309c-3.323 3.43-7.089 5.145-11.293 5.145-3.406 0-6.133-1.189-8.184-3.567-1.951-2.378-2.927-5.604-2.927-9.677V40.61h26.062V29.972H98.876v-13.68h-14.14v13.68h-7.54v10.637h7.54v29.438c0 7.901 2.274 14.019 6.82 18.355 4.548 4.237 10.435 6.355 17.662 6.355Zm52.157-.248c6.449 0 12.002-2.315 16.661-6.945 4.757-4.63 7.136-10.738 7.136-18.324v-36.9h-14.14v36.409c0 3.967-.989 7.117-2.965 9.447-1.878 2.33-4.474 3.496-7.788 3.496-3.414 0-6.085-1.215-8.011-3.645-1.827-2.43-2.741-5.53-2.741-9.298V28.973h-14.139v36.9c0 7.685 2.33 13.743 6.993 18.175 4.663 4.432 10.736 6.648 18.226 6.648l-.232.248Zm37.647 0c4.139 0 7.835-.693 11.087-2.08 3.351-1.485 6.135-3.521 8.349-6.108v7.19h14.14V29.972h-14.14v7.19c-2.214-2.586-4.998-4.622-8.349-6.108-3.252-1.485-6.948-2.228-11.087-2.228-6.734 0-12.365 2.544-16.9 7.63-4.434 4.988-6.651 11.665-6.651 20.03v8.348c0 8.366 2.217 15.068 6.651 20.105 4.535 5.037 10.166 7.556 16.9 7.556Zm4.466-10.367c-3.746 0-6.728-1.24-8.952-3.719-2.223-2.58-3.335-5.976-3.335-10.191v-7.951c0-4.215 1.112-7.611 3.335-10.19 2.224-2.58 5.206-3.87 8.952-3.87 3.844 0 6.875 1.215 9.09 3.646 2.213 2.33 3.32 5.455 3.32 9.373v9.982c0 3.819-1.107 6.894-3.32 9.225-2.215 2.33-5.246 3.496-9.09 3.496v.199Zm66.172 9.369V66.99c0-4.613-.905-8.754-2.717-12.421-1.711-3.668-4.28-6.561-7.705-8.68-3.327-2.219-7.308-3.327-11.945-3.327-5.133 0-9.658 1.307-13.576 3.922-3.819 2.614-6.387 6.09-7.705 10.428l11.797 4.564c.919-2.32 2.219-4.091 3.9-5.31 1.681-1.219 3.594-1.829 5.739-1.829 2.641 0 4.663.766 6.065 2.299 1.401 1.434 2.102 3.461 2.102 6.083v1.88l-13.578 1.245c-6.649.495-11.822 2.274-15.52 5.336-3.698 3.062-5.547 7.383-5.547 12.963 0 5.283 1.676 9.529 5.027 12.74 3.352 3.21 7.797 4.816 13.335 4.816 3.616 0 6.92-.669 9.91-2.005 3.087-1.337 5.547-3.144 7.377-5.423v6.43h14.04Zm-21.293-8.751c-2.245 0-4.05-.57-5.415-1.709-1.265-1.14-1.898-2.75-1.898-4.832 0-2.378.916-4.165 2.748-5.361 1.93-1.296 4.53-2.061 7.801-2.296l9.31-.892v4.368c0 3.062-1.266 5.635-3.798 7.712-2.433 1.978-5.334 2.967-8.703 2.967l-.045.043Zm47.69 8.751V54.737c0-3.67.987-6.537 2.962-8.603 1.975-2.165 4.613-3.248 7.914-3.248 1.681 0 3.115.198 4.301.594l1.491-11.426c-1.879-.594-3.956-.891-6.232-.891-3.068 0-5.935.718-8.603 2.154-2.668 1.337-4.842 3.193-6.523 5.57v-6.722h-14.14v57.727h14.14l8.69.272Z" />
        </svg>
    </div>
    <Heading>Create your account</Heading>
    <Field>
        <Label>Email</Label>
        <Input TValue="string" Type="email" Name="email" />
    </Field>
    <Field>
        <Label>Full name</Label>
        <Input TValue="string" Name="name" />
    </Field>
    <Field>
        <Label>Password</Label>
        <Input TValue="string" Type="password" Name="password" />
    </Field>
    <Field>
        <Label>Country</Label>
        <Select TValue="string" Name="country">
            <option>Canada</option>
            <option>Mexico</option>
            <option>United States</option>
        </Select>
    </Field>
    <Field>
        <FieldGroup>
            <Checkbox Name="marketing_emails" />
            <Label>Get emails about product updates and news.</Label>
        </FieldGroup>
    </Field>
    <Button Type="submit" Class="w-full">
        Create account
    </Button>
    <Text>
        Already have an account?
        <HyperLink Href="/login">
            <Strong>Sign in</Strong>
        </HyperLink>
    </Text>
</form>

@code {
}